# A-1 & A-2

In [65]:
class Employee:
    def __init__(self,name,number,address,salary,post,year_of_joining,education,year_of_experience):
        self.name=name
        self.number=number
        self.address=address
        self.salary=salary
        self.post=post
        self.year_of_joining=year_of_joining
        self.education=education
        self.year_of_experience=year_of_experience

    def describe_employee(self):
        return '{} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {} {}'.format('Employee Name: ',self.name,'\n','Contact Info.',self.number,'\n',
                                           'Address Detail:',self.address,'\n','Salary:',self.salary,'\n','Post:',self.post,'\n',
                                            'Year of Joining:',self.year_of_joining,'\n','Education:',self.education,'\n',
                                              'Year Of Experience:',self.year_of_experience  )

    def update_year_of_experience(self,update_experience):
    
        update_experience=self.year_of_experience
        return '{} {}'.format('Update Year of experience is',update_experience)
    def increase_salary(self,update_salary):
        up_sa=self.salary+update_salary
        return '{} {}'.format('Updated Salary is ',up_sa)

# A-3

In [66]:

emp101=Employee('Ali Ahmed',923142345674,'karachi,Sindh',75000,'Marketing head',2012,'BS Commerce',5)

print('*** Calling Indivdual Attribute ***')
print(emp101.name)
print(emp101.number)
print(emp101.address)
print(emp101.salary)

print('\n''*** Complete Detail of an Employee: ***')
print(emp101.describe_employee())

print('\n''*** Updating Employee Year of Experience: ***')
print(emp101.update_year_of_experience(7))

print('\n''*** Updating Salary: ***')
print(emp101.update_salary(100000))

*** Calling Indivdual Attribute ***
Ali Ahmed
923142345674
karachi,Sindh
75000

*** Complete Detail of an Employee: ***
Employee Name:  Ali Ahmed
 Contact Info. 923142345674
 Address Detail: karachi,Sindh
 Salary: 75000
 Post: Marketing head
 Year of Joining: 2012
 Education: BS Commerce
 Year Of Experience: 5

*** Updating Employee Year of Experience: ***
Update Year of experience is 5

*** Updating Salary: ***

AttributeError: 'Employee' object has no attribute 'update_salary'

# A-4

In [51]:
emp102=Employee('Rizwan Khan',924165478901,'karachi,Sindh',75000,'Marketing manager',2018,'BS Commerce',1)
emp103=Employee('Ibrahim Noman',923601254782,'Sukker,Sindh',65000,'Android Developer',2019,'BS(CS)',2)
emp104=Employee('Sana Ali',925213697493,'Nawabshah,Sindh',85000,'PHP Developer',2020,'BS(SE)',7)
emp105=Employee('Bilal Qureshi',929631148624,'karachi,Sindh',55000,'IOS Developer',2021,'BS(CS)',4)
emp106=Employee('Adeel Ahmed',924568743295,'Lahore,Punjab',45000,'Team Lead Back End',2023,'BS(SE)',5)
emp107=Employee('Zainab Khan',925823145956,'Lahore,Sialkot',35000,'QA Developer',2000,'BS(CS)',6)
emp108=Employee('Zaira Noman',926387945627,'Islamabaad,Islamabad Capital Territory',400000,'CFO',2004,'BS Commerce',8)
emp109=Employee('Kashif Rehan',925498752368,'Rawalpindi,Punjab',60000,'HR',2007,'BS Commerce',10)
emp110=Employee('Hammad Khan',926987452309,'Lahore,Punjab',90000,'Finance head',2008,'BS Commerce',2)
emp111=Employee('Hamza Khan',926548875165,'karachi,Sindh',95000,'Front end Developer',2009,'BS(SE)',3)

print('\n''*** Employee 102 Detail: ***')
print(emp102.describe_employee())

print('\n''*** Employee 103 Detail: ***')
print(emp103.describe_employee())

print('\n''*** Employee 104 Detail: ***')
print(emp104.describe_employee())

print('\n''*** Employee 105 Detail: ***')
print(emp105.describe_employee())

print('\n''*** Employee 106 Detail: ***')
print(emp106.describe_employee())

print('\n''*** Employee 107 Detail: ***')
print(emp107.describe_employee())

print('\n''*** Employee 108 Detail: ***')
print(emp108.describe_employee())

print('\n''*** Employee 109 Detail: ***')
print(emp109.describe_employee())

print('\n''*** Employee 110 Detail: ***')
print(emp110.describe_employee())

print('\n''*** Employee 111 Detail: ***')
print(emp111.describe_employee())

*** Employee 102 Detail: ***
Employee Name:  Rizwan Khan
 Contact Info. 924165478901
 Address Detail: karachi,Sindh
 Salary: 75000
 Post: Marketing manager
 Year of Joining: 2018
 Education: BS Commerce
 Year Of Experience: 1

*** Employee 103 Detail: ***
Employee Name:  Ibrahim Noman
 Contact Info. 923601254782
 Address Detail: Sukker,Sindh
 Salary: 65000
 Post: Android Developer
 Year of Joining: 2019
 Education: BS(CS)
 Year Of Experience: 2

*** Employee 104 Detail: ***
Employee Name:  Sana Ali
 Contact Info. 925213697493
 Address Detail: Nawabshah,Sindh
 Salary: 85000
 Post: PHP Developer
 Year of Joining: 2020
 Education: BS(SE)
 Year Of Experience: 7

*** Employee 105 Detail: ***
Employee Name:  Bilal Qureshi
 Contact Info. 929631148624
 Address Detail: karachi,Sindh
 Salary: 55000
 Post: IOS Developer
 Year of Joining: 2021
 Education: BS(CS)
 Year Of Experience: 4

*** Employee 106 Detail: ***
Employee Name:  Adeel Ahmed
 Contact Info. 924568743295
 Address Detail: Lahore,Punjab
 Salary: 45000
 Post: Team Lead Back End
 Year of Joining: 2023
 Education: BS(SE)
 Year Of Experience: 5

*** Employee 107 Detail: ***
Employee Name:  Zainab Khan
 Contact Info. 925823145956
 Address Detail: Lahore,Sialkot
 Salary: 35000
 Post: QA Developer
 Year of Joining: 2000
 Education: BS(CS)
 Year Of Experience: 6

*** Employee 108 Detail: ***
Employee Name:  Zaira Noman
 Contact Info. 926387945627
 Address Detail: Islamabaad,Islamabad Capital Territory
 Salary: 400000
 Post: CFO
 Year of Joining: 2004
 Education: BS Commerce
 Year Of Experience: 8

*** Employee 109 Detail: ***
Employee Name:  Kashif Rehan
 Contact Info. 925498752368
 Address Detail: Rawalpindi,Punjab
 Salary: 60000
 Post: HR
 Year of Joining: 2007
 Education: BS Commerce
 Year Of Experience: 10

*** Employee 110 Detail: ***
Employee Name:  Hammad Khan
 Contact Info. 926987452309
 Address Detail: Lahore,Punjab
 Salary: 90000
 Post: Finance head
 Year of Joining: 2008
 Education: BS Commerce
 Year Of Experience: 2

*** Employee 111 Detail: ***
Employee Name:  Hamza Khan
 Contact Info. 926548875165
 Address Detail: karachi,Sindh
 Salary: 95000
 Post: Front end Developer
 Year of Joining: 2009
 Education: BS(SE)
 Year Of Experience: 3